* {
    font-family: 'Courier New', Courier, monospace;
}

ul, li {
    list-style-type: none;
    font-size: larger;
}

a {
    text-decoration: none;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #004908;
  color: white;
  text-align: center;
}

#footeranchor{
    color:white;
}

.topnav{
    background-color: #004908;
    overflow: hidden;
}

.topnav a{
    float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }